body {
  font-family: "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  /* background: #f7f7f7; */
  color: blue;
  width: 100%;
}

table {
  /* width: 0%; */
  margin-top: 3rem;
}

h2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  width: 50%;
  margin-left: 25%;
  /* background: #323233; */
  color: rgb(36, 49, 167);
}

h3 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}
/* 
.input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin-left: 15%;
} */

button {
  justify-content: start;
  width: 20%;
}

.table-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 50%;
}

#table-row {
  background: white;
  padding: 2rem;
  font-size: larger;
}

.graph-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
  margin-left: 15%;
  padding: 2rem;
  opacity: 70%;
}

.tables {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#particles-js {
  background: #f7f7f7;
}
